{% extends "base.html" %}

{% block app_content %}

    <div class="'container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Meme: {{ meme.name }}</h1>
                <br>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <img src="{{ url_for('static', filename= meme.image_name )}}"  width="700">
            </div>
            <div class="col-sm-4">
                <h2>Caption: {{ meme.caption }}</h2><br>
                <h3>Location: {{ meme.location.name }}</h3><br>
                <h3>Categories</h3>
                {% for m in mtc %}
                    <li>{{ m.category.name }}</li>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

            <h2>Comments</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {% for c in com %}
                    <p>{{ c.user.username }} says: {{ c.text }}</p>
                {% endfor %}
        </div>
    </div>
<br><br>
    <div class="row">
        <div class="col-sm-12">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.favorite.label }}<br>
                    {{ form.favorite }}
                    {% for error in form.favorite.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %} <br>
                    {{ form.comment.label }}<br>
                    {{ form.comment(size=110) }}<br>
                    {% for error in form.comment.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
    </div>



{% endblock %}
