{% extends "base.html" %}

{% block app_content %}

    <h1>All Memes</h1>
    <div class="'container">
        <div class="row">
            {% for meme in memes %}
                <div class="col-sm-4">

                    <button type="button" onclick="window.location.href='{{ url_for('meme', name=meme.name) }}';">
                        <img src="{{ url_for('static', filename= meme.image_name )}}" height ="250" width="300">
                    </button>
                    <p>Caption: {{ meme.caption }}</p>
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}
